<h1>Welcome to Street Art Snaps.</h1>

  <ul class="example-orbit" data-orbit>
    <li>
      <img src="http://i.imgur.com/sQcoRZD.jpg" alt="slide 1" />
      <div class="orbit-caption">
      Brick Lane, London.
      </div>
    </li>
    <li class="active">
      <img src="http://i.imgur.com/G88bnFM.jpg" alt="slide 2" />
      <div class="orbit-caption">
        Brick Lane, London.
      </div>
    </li>
<!--     <li>
      <img src="../assets/img/examples/launch-orbit.jpg" alt="slide 3" />
      <div class="orbit-caption">
        Caption Three.
      </div>
    </li>
  </ul> -->



