h1 {
  font-family: 'Monofett', cursive;
  margin: 0 auto 0 auto;
  font-size: 60px;
}

#user_photos_grid {
  list-style: none;
}
 #sign_up, #edit_user {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
 }