<p id="notice"><%= notice %></p>
<%= link_to 'Back', locations_path %><br>


<b>Location:</b>
<%= @location.name %> 
<% @location.photos.each do |photo| %><br>
<% end %>
<br><br>

<p>
  <strong>Images:</strong>
  <ul class="location_photos_grid">
  <% @location.photos.each do |photo| %>
   <li class="location large-3 medium-4 small-6 columns">
     <ul class="tile">
      <%= link_to image_tag(photo.image.thumb.url), photo %>
    </ul>
  </li>
</p>
<% end %>
</ul>



